.pad-left {
  padding-left: 1em;
}

.loc_id {
  display: none;
}

.pad-top {
  padding-top: .11em;
}

.col-sm-4 a {
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
